.classes{
  color:#F7941D;
}
.selectButton{
  background-color: #14A9FF;
}

.Modal{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(229, 229, 229,0.8);
  
}

.insideModal{
  background-color: white;
  height: 20rem;
  width: 25rem;
  border-radius: 10px;

}
